In [2]:
def countuppercase(str):
    cnt=0
    lst=list(str)
    for x in range(len(lst)):
        if ord(lst[x])>=65 and ord(lst[x])<=90:
            cnt=cnt+1
    return cnt
print(countuppercase("KUSHAL"))

6

In [7]:
def printdigits(str):
    lst=list(str)
    for x in range(0,len(lst)):
        if ord(lst[x])>=48 and ord(lst[x])<=57:
            print(lst[x],end=" ")
    return " "
print(printdigits("Application1889"))

1 8 8 9

In [5]:
def sumofdigits(str):
    sum=0
    lst=list(str)
    for x in range(len(lst)):
        if ord(lst[x])>=45 and ord(lst[x])<=57:
            sum=sum+ord(lst[x])-48;
    return sum
sumofdigits("kushal2804")

14

In [6]:
def sumofdigits(str):
    sum=0
    lst=list(str)
    for x in range(len(lst)):
        if ord(lst[x])>=48 and ord(lst[x])<=57:
            if(ord(lst[x])%2==0):
                sum=sum+ord(lst[x])-48;
    return sum
print(sumofdigits("Application1889"))

16

In [8]:
x= "foo"
y= 2
print(x + y)

TypeError: can only concatenate str (not "int") to str

In [1]:
s="PYTHON is easy"
s1="Python"
print(s.islower())
print(s1.islower())

False
False

In [2]:
s="application"
s1='KUSHAL'
print(s.isupper())
print(s1.islower())

False
False

In [7]:
str="PYTHON"
print(str.lower())

python

In [4]:
s="5678"
s1="APP1889"
print(s.isnumeric())
print(s.isnumeric())

True
True

In [6]:
str="PYTHON"
print(str.upper())

PYTHON

In [8]:
s="kohli"
s1=" "
print(s.isspace())
print(s1.isspace())

False
True

In [11]:
str="VIRAT"
print("  ".join(str))

V  I  R  A  T

In [13]:
str="DHONI"
print(",".join(str))

D,H,O,N,I

In [15]:
s="python programming is easy to learn"
print(s.split())
print(s.split("a"))
print(s.split(","))

['python', 'programming', 'is', 'easy', 'to', 'learn']
['python progr', 'mming is e', 'sy to le', 'rn']
['python programming is easy to learn']

In [21]:
s="virat kohli";
print(s.replace("virat","kushal"))

kushal kohli

In [30]:
t1=["dhoni","rohit","dhawan","bumrah","bhuvi"]
t2=["kohli"]
print(t1)
print(t2)
print("t1[0]=",t1[0])
print("t[-1]=",t1[-1])
print("t1[0:5]=",t1[0:5])
t3=t1+t2
print(t3)
print(max(t1))
print(min(t1))

['dhoni', 'rohit', 'dhawan', 'bumrah', 'bhuvi']
['kohli']
t1[0]= dhoni
t[-1]= bhuvi
t1[0:5]= ['dhoni', 'rohit', 'dhawan', 'bumrah', 'bhuvi']
['dhoni', 'rohit', 'dhawan', 'bumrah', 'bhuvi', 'kohli']
rohit
bhuvi

In [1]:
user1 = {'name':'kushal','age':19,'email':'kushalreddy2804@gmail.com','mobilenumber':'6302186894'}
print("user1[name]=",user1['name'])
print("user1[email]=",user1['email'])
print("user1[age]=",user1['age'])
print("user1[mobilenumber]=",user1['mobilenumber'])

user1[name]= kushal
user1[email]= kushalreddy2804@gmail.com
user1[age]= 19
user1[mobilenumber]= 6302186894

In [2]:
user1 = {'name':'kushal','age':19,'email':'kushalreddy2804@gmail.com','mobilenumber':'6302186894'}
user2=user1.copy()
print(user1)
print(user2)
user1['adress']='hyderabad'
print(user1)
print(user2)

{'name': 'kushal', 'age': 19, 'email': 'kushalreddy2804@gmail.com', 'mobilenumber': '6302186894'}
{'name': 'kushal', 'age': 19, 'email': 'kushalreddy2804@gmail.com', 'mobilenumber': '6302186894'}
{'name': 'kushal', 'age': 19, 'email': 'kushalreddy2804@gmail.com', 'mobilenumber': '6302186894', 'adress': 'hyderabad'}
{'name': 'kushal', 'age': 19, 'email': 'kushalreddy2804@gmail.com', 'mobilenumber': '6302186894'}

In [3]:
user1 = {'name':'kushal','age':19,'email':'kushalreddy2804@gmail.com','mobilenumber':'6302186894'}
user2 = user1.copy()
print(user1.values())
print(user2.values())

dict_values(['kushal', 19, 'kushalreddy2804@gmail.com', '6302186894'])
dict_values(['kushal', 19, 'kushalreddy2804@gmail.com', '6302186894'])

In [5]:
print('abcdefcdghcd'.split('cd', 2))

['ab', 'ef', 'ghcd']

In [7]:
lst=['python','programming']
print("%s %s"%(lst[0],lst[1]))

python programming

In [1]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact %s added"%name)
    else:
        print("contact %s already exits"%name)
    return
addcontact("kushal",6302186894)

contact kushal added

## search of contact in list

In [5]:
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exits"%name)
    return
searchcontact("kushal")

kushal : 6302186894

In [6]:
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added sucessfully")
    return
newcontacts={'saketh':9876543210}
importcontacts(newcontacts)

1 contacts added sucessfully

In [7]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,":is deleted from contacts")
    else:
        print(name,"is not exits")
    return
deletecontact("saketh")

saketh :is deleted from contacts

In [8]:
def updatecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name," : updated with new phone number")
    else:
        print(name,"not exits in the contacts")
    return
updatecontact("kushal",8463903499)

kushal  : updated with new phone number

In [9]:
lst = [1,2,3,4]
print("value at:{0} value at:{1}".format(lst[0],lst[1]))
print("value at:{0} value at:{1}".format(lst[2],lst[3]))

value at:1 value at:2
value at:3 value at:4

In [10]:
st=[1,2,3,4]
print("%d %d %d %d"%(lst[0],lst[1],lst[2],lst[3]))

1 2 3 4

In [11]:
from math import floor as f1
f1(123.456)

123

In [13]:
from math import factorial as fact
fact(5)

120

In [14]:
import math
math.factorial(5)

120

In [16]:
import random
def generaterandomnumbers(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=" ")
    return
generaterandomnumbers(10,12,120)

65 115 22 47 67 88 61 52 42 15